
body {
    background-color: black;
    color: lightgray;
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

td {
    border: 0px solid #CCC;
    padding: 0.1rem;
    padding-right: 0.5rem;
    text-align: left;
}

pre {
    margin: 0px;
}
